{% load staticfiles %}
<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body_block %}

{% endblock %}
</body>
</html>