{% extends "base.html" %} {% load staticfiles %}
{% block titleblock %} Enter Webpage {% endblock %}

{% block body_block %}
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="submit">
            </form>

        </div>
{% endblock %}